@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 
*/

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
  /* Back to black, component handles background */
}

/* Hide scrollbar for nice mobile feel */
::-webkit-scrollbar {
  display: none;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-horizontal-slow {
  animation: scroll-horizontal 60s linear infinite;
}